In [260]:
import torch 
import numpy as np 
%pip install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in ./.local/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /home/hoover/u14/cs298/anaconda3/envs/project1_new/lib/python3.6/site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in ./.local/lib/python3.6/site-packages (from pandas) (2022.5)
Requirement already satisfied: python-dateutil>=2.7.3 in ./.local/lib/python3.6/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./.local/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [261]:
def makeS(k):
    s = torch.ones((k,k))
    s = torch.triu(s, diagonal=0)
    return s

In [262]:
def makeX(k):
    x = torch.empty((k,1))
    for i in range(k):
        x[i] = 1/(i+1)
    return x

In [263]:
def makeM(k):
    m = torch.zeros((k,k))
    for i in range(1,k):
        m[i-1,i] = 1/i
    return m

In [264]:
def calcualte(S, M, X, k):
    prob_matrix = torch.empty((k,0))
    # j = torch.matmul(S,X)
    # j_even = torch.matmul(M,X)
    P = torch.matmul(S, M)
    x = torch.matmul(S,X)
    prob_matrix = torch.cat((prob_matrix, x), 1)
    for i in range(1, k):
        x = torch.matmul(P, x)
        prob_matrix = torch.cat((prob_matrix, x), 1)
    return prob_matrix
    # x = X
    # for i in range(1, k):
    #     if (i % 2) == 0:
    #         x = torch.matmul(M, x)
    #     else:
    #         x = torch.matmul(S, x)
    #     prob_matrix = torch.cat((prob_matrix, x), 1)
    # return prob_matrix

In [265]:
k=1500
S = makeS(k)
# print(S)
X = makeX(k)
# print(X)
M = makeM(k)
# print(M)
# print(torch.empty((4,0)))
# print(X.size())

s_np = S.numpy()
s_df = pd.DataFrame(s_np)

x_np = X.numpy()
x_df = pd.DataFrame(x_np)
m_np = M.numpy()
m_df = pd.DataFrame(m_np)


# x_np = x.numpy()
# x_df = pd.DataFrame(x_np)
# x_df.to_csv('tmp.csv')

In [266]:
s_df

,0,1,2,3,4,5,6,7,8,9,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
1496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
1497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [267]:
m_df

,0,1,2,3,4,5,6,7,8,9,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
0,0.0,1.0,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,0.0,0.0,0.5,0.000000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2,0.0,0.0,0.0,0.333333,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,0.0,0.0,0.0,0.000000,0.25,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,0.0,0.0,0.0,0.000000,0.00,0.2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.0,0.0,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000668,0.000000,0.000000,0.000000
1496,0.0,0.0,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000668,0.000000,0.000000
1497,0.0,0.0,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000668,0.000000
1498,0.0,0.0,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000667
1499,0.0,0.0,0.0,0.000000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000

In [268]:
x_df

             0
0     1.000000
1     0.500000
2     0.333333
3     0.250000
4     0.200000
...        ...
1495  0.000668
1496  0.000668
1497  0.000668
1498  0.000667
1499  0.000667

[1500 rows x 1 columns]

In [269]:
prob_matrix = calcualte(S,M,X,k)
# print(prob_matrix)
prob_np = prob_matrix.numpy()
prob_df = pd.DataFrame(prob_np)
prob_df

,0,1,2,3,4,5,6,7,8,9,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
0,7.890770,3.030998e+01,7.579887e+01,1.391691e+02,2.004897e+02,236.443481,235.103241,201.432190,151.215881,100.791458,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6.890769,2.341922e+01,5.237966e+01,8.678947e+01,1.137003e+02,122.743248,112.360001,89.072220,62.143669,38.647804,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6.390769,2.022383e+01,4.226775e+01,6.565560e+01,8.087247e+01,82.307022,71.206482,53.468983,35.409187,20.943214,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6.057436,1.820469e+01,3.619952e+01,5.358910e+01,6.300944e+01,61.303871,50.771858,36.545036,23.227509,13.200711,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.807436,1.675283e+01,3.201131e+01,4.558627e+01,5.161287e+01,48.400650,38.671700,26.877113,16.508232,9.073654,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0.003338,4.456327e-06,2.974853e-09,9.929417e-13,1.325690e-16,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1496,0.002669,2.672011e-06,1.188749e-09,1.983232e-13,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1497,0.002001,1.335114e-06,2.968898e-10,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1498,0.001334,4.447409e-07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1499,0.000667,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [270]:
C = prob_matrix[0]
# print(C)
one = torch.ones((1))
# print(one)
C = torch.cat((one, C), 0)
# print(C)
c_np = C.numpy()
c_df = pd.DataFrame(c_np)
c_df

               0
0       1.000000
1       7.890770
2      30.309984
3      75.798874
4     139.169144
...          ...
1496    0.000000
1497    0.000000
1498    0.000000
1499    0.000000
1500    0.000000

[1501 rows x 1 columns]

In [271]:
C = torch.mul(C, (1/(k+1)))
# print(prob_matrix[0])
# print(C)
c_np = C.numpy()
c_df = pd.DataFrame(c_np)
c_df

             0
0     0.000666
1     0.005257
2     0.020193
3     0.050499
4     0.092718
...        ...
1496  0.000000
1497  0.000000
1498  0.000000
1499  0.000000
1500  0.000000

[1501 rows x 1 columns]

In [272]:
sum = torch.sum(C)
print(sum)

tensor(1.0000)

In [273]:
#write all to CSV
s_df.to_csv('/u/amart50/A-COMPLICATED-PROBABILITY-PROBLEM/A-COMPLICATED-PROBABILITY-PROBLEM/outputs/n1500/S.csv')
x_df.to_csv('/u/amart50/A-COMPLICATED-PROBABILITY-PROBLEM/A-COMPLICATED-PROBABILITY-PROBLEM/outputs/n1500/X.csv')
m_df.to_csv('/u/amart50/A-COMPLICATED-PROBABILITY-PROBLEM/A-COMPLICATED-PROBABILITY-PROBLEM/outputs/n1500/M.csv')
prob_df.to_csv('/u/amart50/A-COMPLICATED-PROBABILITY-PROBLEM/A-COMPLICATED-PROBABILITY-PROBLEM/outputs/n1500/Prob.csv')
c_df.to_csv('/u/amart50/A-COMPLICATED-PROBABILITY-PROBLEM/A-COMPLICATED-PROBABILITY-PROBLEM/outputs/n1500/C.csv')